<div class="footer container-fluid">
    <div class="row">
        <div class="col-sm">
            <h3>Mach mit!</h3>
            <ul>
              <li><a href="https://gitlab.com/it-hub-braunschweig" target="_blank">Hilf mit, die Plattform zu verbessern!</a>
                </li>
                <li><a href="https://twitter.com/ithubbs" target="_blank">Twittere!</a></li>
                <li><a href="assets/atom/atom.atom" target="_blank">Atom-Feed alle Events</a></li>
                <li><a href="assets/atom/generalPublic.atom" target="_blank">Atom-Feed nicht-Events für breite Öffentlichkeit</a></li>
            </ul>
        </div>
<!--        <div class="col-sm">-->
<!--            <a href="https://www.msg-david.de/" class="logo"><img width="200" height="90"-->
<!--                                                                  src="../../../assets/images/logo_msg_david.svg"></a>-->
<!--        </div>-->
    </div>
</div>
